#content{
	padding-bottom: 20px;
	background: #fff;
	color: #333;
	padding-top: 20px;
	font-size: 14px;
}
#content h1{
	text-align: center;
	color: #000;
	line-height: 30px; 
}
#content table{
	border-collapse: collapse;
	width: 600px;
	height: 280px;
	margin: 40px 0 0 80px;
	text-align: center;
	vertical-align: middle;
} 
#content table,th,td{
	border: 1px solid black;

}
#content img{
	float: right;
	margin-right: 25px;
}
#content p{
	text-indent: 2em;
	line-height: 2em;
	margin: 8px 50px 0 60px;
}

