*{
	margin: 0;
	padding: 0;
}
body{
	width: 960px;
	margin: 0 auto;
	font-size: 12px;
	font-family: "微软雅黑";
	background:#ddd;
}
a{
	text-decoration: none;
	color: #000;
}
#header{
	height: 220px;
	background: #ccc;	
	text-align: center;
	background: url(../images/header.png);
	border-bottom: 1px solid #426873;
}
#nav{
	height: 40px;
	background: #426873;
}
#nav ul{
	font-size: 14px;
	list-style: none;
}
#nav ul li{
	width: 192px;
	height: 36px;
	background:url(../images/linkr.gif) no-repeat right center;
	line-height: 36px;	
	text-align: center;
	float: left;
}
#nav ul li a.current{
	font-size: 16px;
	font-weight: bold;
	color: orange;
}	
#nav ul li.last{
	background:none;
}
#nav ul li a{
	color: #fff;
	display: block;
}
#nav ul li a:hover{
	font-weight: bold;
	font-size: 16px;
	color: orange;
}
#footer{
	color: #888;
	text-align: center;
	padding-top: 15px;
	line-height: 1.8;
	height: 80px;
	background:#123546;
	clear: both;
}
